# --- CONFIGURATION SERVEUR ---
PORT=3001
JWT_SECRET=votre_cle_secrete_ici

# --- BASE DE DONNÉES ---
DATABASE_URL="postgres://user:pass@host/db"

# --- SECURITÉ CORS ---
FRONTEND_CLIENT_URL="https://votre-site-client.netlify.app"
FRONTEND_ADMIN_URL="https://votre-site-admin.netlify.app"

# --- CONFIGURATION CINETPAY ---
CINETPAY_API_KEY="VOTRE_API_KEY"
CINETPAY_SITE_ID="VOTRE_SITE_ID"
CINETPAY_NOTIFY_URL="https://votre-backend.com/api/payments/notify"
CINETPAY_RETURN_URL="https://votre-site-client.netlify.app/ticket"
